#career {
  display: flex;
}

#lineDiv {
  width: 10%;
}

#yearContents {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#hoverContent {
  max-width: 50%;
  height: auto;
  padding: 10px;
}

#line {
  width: 4px;
  background-color: #333;
  height: 100%;
  margin: auto;
}

.yearContent {
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.yearContent:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

#hoverImage {
  height: 70%;

  border-radius: 15px;
}

#hoverText {
  height: 30%;
}
