#profile {
  margin: auto;
  display: flex;
  max-width: 1200px;
  gap: 30px;
  padding: 20pxß;
}

#profileImage {
  flex: 1;
  max-width: 30%;
  height: auto;
  padding: 20px;
  /* border: 2px solid; */
  /* border-radius: 50%; */
  object-fit: cover;
  align-items: center;
  box-sizing: border-box;
}

#myPhoto {
  width: 100%;
  height: auto;
  border: 2px solid;
  border-radius: 50%;
  object-fit: cover;
}

#profileText {
  flex: 1;
  max-width: 70%;
}
#profileText p {
  text-align: left;
}

#profileName, #profileAge, #profileMBTI, #profileHobby {
  display: flex;
  justify-content: flex-end;
}

.profileCulum {
  width : 20%;
}

.profileBody {
  width : 80%;
  text-align: left;
}
